# Node
node_modules/

# Build
/dist
/build
frontend/dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Java
*.class
/target/

# Environment
.env
.env.*

# Others
*.iml
*.swp
*.swo

# PowerShell
*.ps1~

# Docker
*.pid

# H2
*.mv.db
*.trace.db

# Frontend
frontend/.next/
frontend/.cache/

# Backend
backend/.classpath
backend/.project
backend/.settings/
backend/target/
backend/logs/

# Misc
*.bak
*.tmp
